<a href="https://colab.research.google.com/github/sauradip007/Churning_ANN/blob/master/artificial_neural_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importing the libraries

# Artificial Neural Network

In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf

## Part 1 - Data Preprocessing

In [3]:
tf.__version__

'2.8.2'

### Importing the dataset

In [11]:
df = pd.read_csv('Churn_Modelling.csv')

In [12]:
df.head(3)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1

In [13]:
X = df.iloc[:,3:-1].values
y = df.iloc[:,-1].values

In [14]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [15]:
print(y)

[1 0 1 ... 1 1 0]

In [16]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

### Encoding categorical data

In [17]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [18]:
from sklearn import preprocessing

In [19]:
le = preprocessing.LabelEncoder()

Label Encoding the "Gender" column

In [20]:
X[:,2] = le.fit_transform(X[:,2])

In [21]:
X

array([[619, 'France', 0, ..., 1, 1, 101348.88],
       [608, 'Spain', 0, ..., 0, 1, 112542.58],
       [502, 'France', 0, ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 0, ..., 0, 1, 42085.58],
       [772, 'Germany', 1, ..., 1, 0, 92888.52],
       [792, 'France', 0, ..., 1, 0, 38190.78]], dtype=object)

One Hot Encoding the "Geography" column

In [22]:
 from sklearn.preprocessing import OneHotEncoder

In [23]:
enc = OneHotEncoder()

In [24]:
from sklearn.compose import ColumnTransformer

In [25]:
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [26]:
X

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

In [27]:
X[0]

array([1.0, 0.0, 0.0, 619, 0, 42, 2, 0.0, 1, 1, 1, 101348.88],
      dtype=object)

### Splitting the dataset into the Training set and Test set

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

### Feature Scaling

In [30]:
from sklearn.preprocessing import StandardScaler

In [31]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [32]:
X_train.shape

(8000, 12)

In [33]:
y_train.shape

(8000,)

### Initializing the ANN

In [34]:
ann = tf.keras.models.Sequential()

In [35]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

### Adding the input layer and the first hidden layer

In [36]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

### Adding the second hidden layer

### Adding the output layer

In [37]:
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [38]:
ann.compile(optimizer = 'adam' , loss = 'binary_crossentropy',metrics =[['accuracy']])

### Training the ANN on the Training set

In [39]:
ann.fit(X_train,y_train, epochs = 120)

Epoch 1/120
250/250 [==============================] - 1s 1ms/step - loss: 0.5191 - accuracy: 0.7843
Epoch 2/120
250/250 [==============================] - 0s 1ms/step - loss: 0.4596 - accuracy: 0.7960
Epoch 3/120
250/250 [==============================] - 0s 1ms/step - loss: 0.4456 - accuracy: 0.7960
Epoch 4/120
250/250 [==============================] - 0s 993us/step - loss: 0.4380 - accuracy: 0.7960
Epoch 5/120
250/250 [==============================] - 0s 1ms/step - loss: 0.4337 - accuracy: 0.7960
Epoch 6/120
250/250 [==============================] - 0s 1ms/step - loss: 0.4301 - accuracy: 0.7979
Epoch 7/120
250/250 [==============================] - 0s 1ms/step - loss: 0.4264 - accuracy: 0.8034
Epoch 8/120
250/250 [==============================] - 0s 1ms/step - loss: 0.4228 - accuracy: 0.8089
Epoch 9/120
250/250 [==============================] - 0s 1ms/step - loss: 0.4184 - accuracy: 0.8142
Epoch 10/120
250/250 [==============================] - 0s 1ms/step - loss: 0.4137 - accuracy: 0.8185
Epoch 11/120
250/250 [==============================] - 0s 1ms/step - loss: 0.4092 - accuracy: 0.8236
Epoch 12/120
250/250 [==============================] - 0s 997us/step - loss: 0.4051 - accuracy: 0.8256
Epoch 13/120
250/250 [==============================] - 0s 1ms/step - loss: 0.4018 - accuracy: 0.8292
Epoch 14/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3986 - accuracy: 0.8324
Epoch 15/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3949 - accuracy: 0.8336
Epoch 16/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3906 - accuracy: 0.8375
Epoch 17/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3854 - accuracy: 0.8396
Epoch 18/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3790 - accuracy: 0.8457
Epoch 19/120
250/250 [==============================] - 0s 985us/step - loss: 0.3709 - accuracy: 0.8487
Epoch 20/120
250/250 [==============================] - 0s 979us/step - loss: 0.3630 - accuracy: 0.8533
Epoch 21/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3561 - accuracy: 0.8590
Epoch 22/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3518 - accuracy: 0.8577
Epoch 23/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3474 - accuracy: 0.8604
Epoch 24/120
250/250 [==============================] - 0s 962us/step - loss: 0.3452 - accuracy: 0.8604
Epoch 25/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3433 - accuracy: 0.8605
Epoch 26/120
250/250 [==============================] - 0s 963us/step - loss: 0.3423 - accuracy: 0.8594
Epoch 27/120
250/250 [==============================] - 0s 972us/step - loss: 0.3415 - accuracy: 0.8609
Epoch 28/120
250/250 [==============================] - 0s 979us/step - loss: 0.3407 - accuracy: 0.8595
Epoch 29/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3401 - accuracy: 0.8599
Epoch 30/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3397 - accuracy: 0.8614
Epoch 31/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8605
Epoch 32/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.8602
Epoch 33/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3384 - accuracy: 0.8614
Epoch 34/120
250/250 [==============================] - 0s 987us/step - loss: 0.3382 - accuracy: 0.8625
Epoch 35/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8611
Epoch 36/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8627
Epoch 37/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8621
Epoch 38/120
250/250 [==============================] - 0s 977us/step - loss: 0.3374 - accuracy: 0.8635
Epoch 39/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8624
Epoch 40/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8624
Epoch 41/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8637
Epoch 42/120
250/250 [==============================] - 0s 945us/step - loss: 0.3364 - accuracy: 0.8635
Epoch 43/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8629
Epoch 44/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8634
Epoch 45/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3357 - accuracy: 0.8620
Epoch 46/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3351 - accuracy: 0.8636
Epoch 47/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8626
Epoch 48/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8634
Epoch 49/120
250/250 [==============================] - 0s 980us/step - loss: 0.3353 - accuracy: 0.8652
Epoch 50/120
250/250 [==============================] - 0s 973us/step - loss: 0.3350 - accuracy: 0.8633
Epoch 51/120
250/250 [==============================] - 0s 978us/step - loss: 0.3351 - accuracy: 0.8641
Epoch 52/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8631
Epoch 53/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8644
Epoch 54/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8633
Epoch 55/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8622
Epoch 56/120
250/250 [==============================] - 0s 986us/step - loss: 0.3343 - accuracy: 0.8626
Epoch 57/120
250/250 [==============================] - 0s 974us/step - loss: 0.3342 - accuracy: 0.8629
Epoch 58/120
250/250 [==============================] - 0s 966us/step - loss: 0.3342 - accuracy: 0.8639
Epoch 59/120
250/250 [==============================] - 0s 994us/step - loss: 0.3339 - accuracy: 0.8624
Epoch 60/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8626
Epoch 61/120
250/250 [==============================] - 0s 973us/step - loss: 0.3336 - accuracy: 0.8644
Epoch 62/120
250/250 [==============================] - 0s 977us/step - loss: 0.3343 - accuracy: 0.8629
Epoch 63/120
250/250 [==============================] - 0s 994us/step - loss: 0.3338 - accuracy: 0.8631
Epoch 64/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3342 - accuracy: 0.8631
Epoch 65/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3337 - accuracy: 0.8644
Epoch 66/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3336 - accuracy: 0.8640
Epoch 67/120
250/250 [==============================] - 0s 988us/step - loss: 0.3335 - accuracy: 0.8641
Epoch 68/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3336 - accuracy: 0.8644
Epoch 69/120
250/250 [==============================] - 0s 989us/step - loss: 0.3333 - accuracy: 0.8637
Epoch 70/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3331 - accuracy: 0.8648
Epoch 71/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3332 - accuracy: 0.8648
Epoch 72/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3331 - accuracy: 0.8656
Epoch 73/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3333 - accuracy: 0.8641
Epoch 74/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3326 - accuracy: 0.8651
Epoch 75/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3329 - accuracy: 0.8660
Epoch 76/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3327 - accuracy: 0.8662
Epoch 77/120
250/250 [==============================] - 0s 986us/step - loss: 0.3328 - accuracy: 0.8645
Epoch 78/120
250/250 [==============================] - 0s 988us/step - loss: 0.3329 - accuracy: 0.8651
Epoch 79/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3327 - accuracy: 0.8645
Epoch 80/120
250/250 [==============================] - 0s 975us/step - loss: 0.3329 - accuracy: 0.8648
Epoch 81/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3328 - accuracy: 0.8650
Epoch 82/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3323 - accuracy: 0.8635
Epoch 83/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3324 - accuracy: 0.8644
Epoch 84/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3329 - accuracy: 0.8651
Epoch 85/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3324 - accuracy: 0.8644
Epoch 86/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3323 - accuracy: 0.8640
Epoch 87/120
250/250 [==============================] - 0s 998us/step - loss: 0.3324 - accuracy: 0.8645
Epoch 88/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3326 - accuracy: 0.8652
Epoch 89/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3324 - accuracy: 0.8648
Epoch 90/120
250/250 [==============================] - 0s 988us/step - loss: 0.3322 - accuracy: 0.8637
Epoch 91/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3323 - accuracy: 0.8640
Epoch 92/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3321 - accuracy: 0.8655
Epoch 93/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3324 - accuracy: 0.8655
Epoch 94/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3322 - accuracy: 0.8655
Epoch 95/120
250/250 [==============================] - 0s 949us/step - loss: 0.3320 - accuracy: 0.8644
Epoch 96/120
250/250 [==============================] - 0s 970us/step - loss: 0.3322 - accuracy: 0.8648
Epoch 97/120
250/250 [==============================] - 0s 990us/step - loss: 0.3323 - accuracy: 0.8636
Epoch 98/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3319 - accuracy: 0.8649
Epoch 99/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3323 - accuracy: 0.8639
Epoch 100/120
250/250 [==============================] - 0s 974us/step - loss: 0.3320 - accuracy: 0.8662
Epoch 101/120
250/250 [==============================] - 0s 991us/step - loss: 0.3319 - accuracy: 0.8646
Epoch 102/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3318 - accuracy: 0.8648
Epoch 103/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3319 - accuracy: 0.8651
Epoch 104/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3320 - accuracy: 0.8636
Epoch 105/120
250/250 [==============================] - 0s 991us/step - loss: 0.3319 - accuracy: 0.8648
Epoch 106/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3319 - accuracy: 0.8640
Epoch 107/120
250/250 [==============================] - 0s 983us/step - loss: 0.3322 - accuracy: 0.8650
Epoch 108/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3316 - accuracy: 0.8639
Epoch 109/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3318 - accuracy: 0.8648
Epoch 110/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3322 - accuracy: 0.8658
Epoch 111/120
250/250 [==============================] - 0s 974us/step - loss: 0.3322 - accuracy: 0.8635
Epoch 112/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3320 - accuracy: 0.8651
Epoch 113/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3314 - accuracy: 0.8640
Epoch 114/120
250/250 [==============================] - 0s 995us/step - loss: 0.3317 - accuracy: 0.8637
Epoch 115/120
250/250 [==============================] - 0s 966us/step - loss: 0.3317 - accuracy: 0.8656
Epoch 116/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3319 - accuracy: 0.8651
Epoch 117/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3319 - accuracy: 0.8650
Epoch 118/120
250/250 [==============================] - 0s 988us/step - loss: 0.3318 - accuracy: 0.8655
Epoch 119/120
250/250 [==============================] - 0s 998us/step - loss: 0.3318 - accuracy: 0.8654
Epoch 120/120
250/250 [==============================] - 0s 996us/step - loss: 0.3321 - accuracy: 0.8648

## Part 4 - Making the predictions and evaluating the model

In [40]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [41]:
print(ann.predict(scaler.transform([[1,0,0,600,1,40,3,60000,2,1,1,50000]])))
# very low chance they will leave the bank

[[0.02476504]]

### Predicting the Test set results

In [42]:
y_pred = ann.predict(X_test)
y_pred = y_pred > 0.5
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Making the Confusion Matrix

In [43]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [44]:
print(confusion_matrix(y_pred,y_test))
print(accuracy_score(y_pred,y_test))

[[1515  206]
 [  80  199]]
0.857